<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compra</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Carrito de compra</h1>
        {% if carrito %}
        <ul class="cart-list">
            {% for pelicula_id, detalles in carrito.items() %}
            <li>
                <h3>{{ detalles.nombre }}</h3>
                <p>Cantidad: {{ detalles.cantidad }}</p>
                <p>Precio unitario: ${{ detalles.precio }}</p>
                <p>Subtotal: ${{ detalles.cantidad * detalles.precio }}</p>
                <form action="{{ url_for('eliminar_del_carrito', pelicula_id=pelicula_id) }}" method="POST">
                    <button type="submit" class="button delete-button">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ total_carrito }}</p>
        <form action="{{ url_for('finalizar_compra') }}" method="POST">
            <button type="submit" class="button">Finalizar compra</button>
        </form>
        {% else %}
        <p>El carrito está vacío.</p>
        {% endif %}
        <a href="{{ url_for('menu_principal') }}" class="button">Volver al menú principal</a>
    </div>
</body>
</html>