<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ cliente_nombre }}</h1>
        <h2>Películas disponibles</h2>
        <form action="{{ url_for('buscar_peliculas') }}" method="GET" class="search-form">
            <input type="text" name="query" placeholder="Buscar películas..." required>
            <button type="submit" class="button">Buscar</button>
        </form>
        <ul class="movie-list">
            {% for pelicula in peliculas %}
            <li>
                <h3>{{ pelicula.nombre }}</h3>
                <p>Actores: {{ pelicula.actores }}</p>
                <form action="{{ url_for('carrito_de_compra') }}" method="POST">
                    <input type="hidden" name="pelicula_id" value="{{ pelicula.id_pelicula }}">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" value="1" min="1" class="cantidad-input">
                    <button type="submit" class="button">Agregar al carrito</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('carrito_de_compra') }}" class="button">Ver carrito de compra</a>
        <a href="{{ url_for('logout') }}" class="button">Cerrar sesión</a>
        {% if session['role'] == 'admin' %}
        <a href="{{ url_for('admin_dashboard') }}" class="button">Dashboard de Administrador</a>
        {% endif %}
    </div>
</body>
</html>